@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');




body {
    background-color:#082526;
  }
  
  h1 {
    padding:none;
    line-height: 150px;
    font-family: koulen;
    font-size: 189px;
    font-weight: bold;
    color: #E1E1E1;
    text-align: center;
    text-align: justify; 
  }

.see-more-btn {
    color: red;
    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadeIn both 10s;
    -webkit-animation: fadeIn both 10s;
    -moz-animation: fadeIn both 10s;
    -o-animation: fadeIn both 10s;
    -ms-animation: fadeIn both 10s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
p {
    padding: 2em;
    font-family: Verdana;
    font-size: 20px;
  }